:focus {
  outline-color: transparent;
  outline-style: none;
}

section.main {
  padding: 60px;
}

footer {
  background-color: #2c3840;
  color: $white;
  padding: 40px 40px;
}


.side-bar {
  table {
    border-spacing: 0px;

    tbody {
      border: none;

      tr {
        border-bottom: 0px;

        th, td {
          padding-top: .25rem;
          padding-bottom: .25rem;
        }
        th {
          text-align: left;
        }
      }
    }
  }
}

dl.dl-horizontal {

  // width: 80%;

  dt {
     float: left;
     margin-right: 10%;
     font-weight: bold;
   }
   dd {
     color: grey;
     margin-left: 50%;
     margin-bottom: .3em;
   }

  //  dd::after {
  //    content: " ";
  //    display: block;
  //    clear: left;
  //  }
}

#page-resume {

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
  }

  .years {
    font-weight: bold;

  }

  ul#resumeNav {
    margin-bottom: 0;
  }

  .tabs-title > a {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    border-radius: 6px;
  }

}
