<div class=side-bar>
  <h2>Contact Me</h2>
  <dl class="dl-horizontal">
    <dt>E-mail:</dt>
    <dd>jonathan (at) gmail (dot) com</dd>
    <dt>Blog:</dt>
    <dd><a href="http://jtushman.github.io">tushman.io</a></dd>
    <dt>GitHub:</dt>
    <dd><a href="https://github.com/jtushman">jtushman</a></dd>
    <dt>Linked-in:</dt>
    <dd><a href="http://www.linkedin.com/pub/jonathan-tushman/0/77/44b">Jonathan Tushman</a></dd>
    <dt>StackOverflow:</dt>
    <dd><a href="http://stackoverflow.com/users/192791/jonathan">jonathan</a></dd>
    <dt>Twitter:</dt>
    <dd><a href="https://twitter.com/tushman" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @tushman</a>
    </dd>
  </dl>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


  <h2><a href="http://www.pmc.org/mypmc/profiles.asp?Section=story&amp;eGiftID=JT0150">Help me</a> fight cancer</h2>
  <a href="http://www.pmc.org/mypmc/profiles.asp?Section=story&amp;eGiftID=JT0150"><img alt="PMC" src="/assets/img/PMC.png" width="140" /></a>

  <h2>About This Site</h2>
  <p>
    Built with some of my favorite technologies
    <ul>
      <li>Foundation</li>
      <li>ZERB Stack</li>
    </ul>
    Hosting by <a href="http://heroku.com"><img alt="Heroku-logo-small" src="/assets/img/heroku-logo-small.png" /></a>
  </p>
  <p>
    Want to do something similar, here is the <a href="https://jtushman@github.com/jtushman/resume-rails-twitterbootstrap.git">source</a>.
  </p>
</div>
