{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonathan Tushman</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png"/>
  </head>
  <body>
    {{> topbar-responsive}}
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    <section class="main">
      <div class="grid-x grid-padding-x">
          {{> body}}
      </div>
    </section>

    <footer>
      <div class="grid-x grid-padding-x small-up-1 medium-up-3">
          <div class="cell">
            <h3>About this Site</h3>
            <hr/>
            Built with some of my favorite technologies
            <ul>
              <li>Foundation</li>
              <li>ZURB Stack</li>
              <li>Hosted in a S3 Bucket</li>
              <li>DNS managed by Route53</li>
            </ul>
            <p>
              Want to do something similar, here is the <a href="https://jtushman@github.com/jtushman/tushman2.git">source</a>.
            </p>
          </div>
          <div class="cell">
            <h3><a href="http://profile.pmc.org/JT0150">Help me</a> fight cancer</h3>
            <hr/>

            <div class="image-content">
              <a href="http://profile.pmc.org/JT0150"><img alt="PMC" src="/assets/img/pmc-badge5x5.png" width="140" /></a>
            </div>

          </div>
          <div class="cell">
            <h3>My Info</h3>
            <hr/>

            <div>Email: <a href="mail:jtushman@gmail.com">jtushman@gmail.com</a></div>
            <div>Blog: <a href="http://jtushman.github.io">tushman.io</a></div>


            <a href="https://twitter.com/tushman" class="social-icon-button twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a>
            <a href="https://github.com/jtushman" class="social-icon-button github"><i class="fa fa-github" aria-hidden="true"></i><span></span></a>
            <a href="http://www.linkedin.com/pub/jonathan-tushman/0/77/44b" class="social-icon-button linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></i><span></span></a>
            <a href="http://stackoverflow.com/users/192791/jonathan" class="social-icon-button stack-overflow"><i class="fa fa-stack-overflow" aria-hidden="true"></i></i><span></span></a>
          </div>
      </div>
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
